---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main>
      <div class="w-full h-[280px] md:h-[700px]">
        <div
          class="h-full bg-[url(/contact.jpg)] bg-[position:60%_100%] md:bg-[position:50%_65%] bg-[length:150%] md:bg-[length:100%] text-white font-extrabold logo-font"
        >
        </div>
      </div>

      <div class="canvas py-8 text-center">
        <h2 class="text-3xl font-bold mb-4">Contact Me</h2>
        <div class="flex justify-center gap-6 text-3xl">
          <!-- Github Icon -->
          <a
            href="https://github.com/atippaz"
            target="_blank"
            class="hover:text-gray-400 transition-colors"
          >
            github
          </a>
          <!-- LinkedIn Icon -->
          <a
            href="https://linkedin.com/in/atip-nasakun"
            target="_blank"
            class="hover:text-blue-600 transition-colors"
          >
            linkedin
          </a>
          <!-- Gmail Icon -->
          <a
            href="mailto:atip.nasakun.work@gmail.com"
            class="hover:text-red-600 transition-colors"
          >
            gmail
          </a>
        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>
