---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="md:mx-auto md:w-4xl border">
			<div class="relative">
				<div class="bg-gray-400 h-[250px] mb-[100px] bg-[url(/bg.jpg)] bg-[position:50%_70%] bg-[length:100%]">
				</div>
				<div class="bg-white left-[20px] top-[65%] absolute rounded-full w-[170px] h-[170px] border">
					<div class="absolute w-[150px] h-[150px] left-[10px] top-[10px] rounded-full z-50 border bg-amber-300 bg-[url(/profile.jpg)] bg-[position:50%_70%] bg-[length:100%]" ></div>
				</div>
			</div>
			<div class="mx-8 md:mx-0 px-8">

			<h1>👨🏻‍💻 Hello, EveryOne</h1>
			<p>
				Welcome to the official To My Website
			</p>
			<p>
				Let Me Introduce My Self
				<!-- <code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project. -->
			</p>
			<p>Here are a few Recent Project I do and Learn:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				In my freetime 
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</div>

		</main>
		<Footer />
	</body>
</html>
